<h1>Add New Carousel Image</h1>

<form action="/admin/carousel" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="image" class="form-label">Upload Image</label>
    <input type="file" class="form-control" name="image" required />
  </div>
  <button type="submit" class="btn btn-success">Add Carousel</button>
</form>
