<% include ../partials/header.ejs %>

<h1>Your Wishlist</h1>
<div class="wishlist">
  <% if (wishlist.length > 0) { %>
    <% wishlist.forEach(product => { %>
      <div class="wishlist-item">
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
      </div>
    <% }); %>
  <% } else { %>
    <p>Your wishlist is empty.</p>
  <% } %>
</div>

<% include ../partials/footer.ejs %>
