<nav class="navbar navbar-expand-md navbar-custom navbar-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse mx-auto order-0" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <!-- Static Category Links -->
      <li class="nav-item">
        <a class="nav-link" href="/products/women">Women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/men">Men</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/kids">Kids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/beauty">Beauty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/accessories">Accessories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/special-offer">Special Offer</a>
      </li>
    </ul>
  </div>
</nav>
